@model PETUtility.Data.Fundamentals.Models.PETiano
@using PETUtility.Data.Fundamentals.Localizations;

@{
    ViewBag.Title = "Editar PETiano";
}

<div class="titleName">
    <h2>@Localization.PETiano.EditPETiano</h2>
</div>
<hr />

<div class="centralize">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control fieldSize" } })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control fieldSize" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Atualizar" class="btn btn-default buttonToRight" />
                    | @Html.ActionLink(Localization.Global.Cancel, "Index", "PETiano")
                </div>
            </div>
        </div>
    }
</div>